In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from config import api_key
from citipy import citipy

In [2]:
cities =['albany','hilo','ll','slavyanka','mataura']
weather_df = pd.DataFrame({"cities": cities})
weather_df['City'] = ""
weather_df['Cloudiness'] = ""
weather_df['Country'] =""
weather_df['Date'] = ""
weather_df['Humidity'] = ""
weather_df["Lat"] = ""
weather_df["Lng"] = ""
weather_df["Max Temp"] =""
weather_df["Wind Speed"] =""
weather_df.head()

      cities City Cloudiness Country Date Humidity Lat Lng Max Temp Wind Speed
0     albany
1       hilo
2         ll
3  slavyanka
4    mataura

In [3]:
url ="http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
query_url = f"{url}appid={api_key}&units={units}&q="
print("Beginning Data Retrieval")
print("------------------------")
counter = 0
Set = 1
for index, row in weather_df.iterrows():

    try:
        
        city = row['cities']
        response= requests.get(query_url + city).json()
        
        weather_df.loc[index, 'City'] = response["name"]
        weather_df.loc[index, 'Cloudiness'] = response["clouds"]["all"]
        weather_df.loc[index, 'Country'] = response["sys"]["country"]
        weather_df.loc[index, 'Date'] = response["dt"]
        weather_df.loc[index, 'Humidity']  = response["main"]["humidity"]
        weather_df.loc[index, 'Lat'] = response["coord"]["lat"]
        weather_df.loc[index, 'Lng'] = response["coord"]["lon"]
        weather_df.loc[index, 'Max Temp'] = response["main"]["temp_max"]
        weather_df.loc[index, 'Wind Speed'] = response["wind"]["speed"]
        counter += 1
        if counter == 50:
            Set+=1
            counter=0
        print(f"Processing Record {counter} of Set {Set} | {city}")

    except:
        print("City not found. Skipping...")

Beginning Data Retrieval
------------------------
Processing Record 1 of Set 1 | albany
Processing Record 2 of Set 1 | hilo
City not found. Skipping...
Processing Record 3 of Set 1 | slavyanka
Processing Record 4 of Set 1 | mataura

In [4]:
weather_df.head()

,cities,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,albany,Albany,1,US,1548914220,37,42.65,-73.75,1.04,13.87
1,hilo,Hilo,20,US,1548913980,73,19.71,-155.08,71.96,12.75
2,ll,,,,,,,,,
3,slavyanka,Slavyanka,0,RU,1548915670,100,42.86,131.39,21.24,20.04
4,mataura,Mataura,80,NZ,1548915670,40,-46.19,168.86,82.35,19.93

url ="http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

query_url = f"{url}appid={api_key}&units={units}&q="



lat=[]
lng=[]
temp_max = []
counter = 0
Set = 1
print("Beginning Data Retrieval")
print("------------------------")
for city in cities:
    try:
        weather_data = requests.get(query_url + city).json()
        temp_max.append(weather_data['main']['temp_max'])
        lat.append(weather_data["coord"]["lat"])
        lng.append(weather_data["coord"]["lon"])
        counter += 1
        if counter == 50:
            Set += 1
            counter = 0
        print(f"Processing Record {int(counter)} of Set {int(Set)} | {city}")
    except:
        print("City not found. Skipping...")

print(temp_max)